<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently at
      <a class="underline-link" href="https://ucsd.edu/" target="_blank">UCSD</a> studying Computer Engineering expecting to graduate in June 2023. I've previously interned at
      <a class="underline-link" href="http://www.inflammasense.com/" target="_blank">InflammaSense</a>. Now I'm working on
      <a class="underline-link" href="https://gitlab.com/Yonder-Dynamics/AI/prob_map" target="_blank">Autonomous Exploration</a> as a part of the Software Team of
      <a class="underline-link" href="https://yonderdynamics.org/" target="_blank">Yonder Dynamics</a>.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably playing volleyball, backpacking,
      or chilling at the beach.
    </p>
    {% include employment-status.html %}
  </div>
</section>
